<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p><%= link_to 'Voltar', carriers_path %></p>
			<p><%= link_to 'Editar', edit_carrier_path( @carrier.id ) %></p>
			<p><%= link_to 'Habilitar/Desabilitar', disable_carrier_path( @carrier.id ) %></p>
			<dl>
				<dt>Razão social:</dt>
				<dd><%= @carrier.corporate_name %></dd>

				<dt>Nome fantasia:</dt>
				<dd><%= @carrier.brand_name %></dd>

				<dt>CNPJ:</dt>
				<dd><%= @carrier.registration_number %></dd>

				<dt>Endereço:</dt>
				<dd><%= @carrier.full_address %> - <%= @carrier.city %> - <%= @carrier.state %></dd>

				<dt>Domínio:</dt>
				<dd><%= @carrier.email_domain %></dd>

				<dt>Status:</dt>
				<dd>
					<% if @carrier.activated %>
					  activated
					<% else %>
					  deactivated
					<% end %>
				</dd>
			</dl>

			<p>
				<%= link_to 'Veículos', vehicles_path( :carrier_id => @carrier.id ) %> | 
				<%= link_to 'Cadastrar novo veículo', new_vehicle_path( :carrier_id => @carrier.id ) %>
			</p>
		</div>
	</div>
</div>